[submodule "libsodium"]
	path = libsodium
	url = https://github.com/jedisct1/libsodium
[submodule "gtest"]
	path = gtest
	url = https://github.com/google/googletest
[submodule "security_monitor"]
	path = security_monitor
	url = git@github.com:mit-enclaves/security_monitor
[submodule "aes-enclave"]
	path = aes-enclave
	url = git@github.com:mit-enclaves/AES_enclave.git
