[submodule "libsodium"]
	path = libsodium
	url = https://github.com/jedisct1/libsodium
[submodule "gtest"]
	path = gtest
	url = https://github.com/google/googletest
[submodule "security_monitor"]
	path = security_monitor
	url = git@github.com:mit-enclaves/security_monitor
[submodule "aes-enclave"]
	path = aes-enclave
	url = https://github.com/mit-enclaves/AES_enclave.git
[submodule "linux_enclaves"]
	path = linux_enclaves
	url = http://github.com/mit-enclaves/linux
[submodule "pam-enclave"]
	path = pam-enclave
	url = https://github.com/mit-enclaves/ssith-pam-enclave.git
[submodule "ssith-aws-fpga"]
	path = ssith-aws-fpga
	url = https://github.com/acceleratedtech/ssith-aws-fpga
[submodule "aws-fpga"]
	path = aws-fpga
	url = https://github.com/aws/aws-fpga
